grpcio==1.71.0
grpcio-tools==1.71.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
multidict==6.2.0
mypy-protobuf==3.6.0
protobuf==5.29.4
setuptools==78.1.0
six==1.17.0
types-protobuf==5.29.1.20250315
