blinker==1.9.0
click==8.1.8
Flask==3.1.0
grpcio==1.71.0
grpcio-tools==1.71.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.2.0
mypy-protobuf==3.6.0
protobuf==5.29.4
setuptools==78.1.0
six==1.17.0
types-protobuf==5.29.1.20250315
Werkzeug==3.1.3